body {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    border-radius: 20px;
    padding: 20px 20px 40px;
    text-align: center;
    width: 450px;
    min-height: 95vh;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

.container h3{
    color: gray;
}

.profile-pic {
    width: 300px;
    height: auto;
    margin-top: 25px;
}

.social-buttons {
    margin-top: 40px;
}

.boton {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8ed8f7;
    border-radius: 30px;
    margin: 20px auto;
    width: 85%;
    height: 75px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0 4px 10px rgba(142, 216, 247, 0.3);
}

.boton img {
    position: absolute;
    left: 20px; /* margen izquierdo dentro del botón */
    width: 30px;
    height: auto;
}

.boton span {
    color: white;
    text-align: center;
    z-index: 1; /* para asegurarte de que quede encima si es necesario */
}

footer {
    margin: 130px 0;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    clear: both;
    color: #8ed8f7;
    font-weight: bold;
    text-decoration: none;
}

footer a {
    color: #2f3092;
    font-weight: bold;
}

