/* General */
* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    color: #2f3092;
    background-color: #f4f5f7;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Encabezado */
.contact-header {
    text-align: center;
    background-color: #2f3092;
    color: #fff;
    padding: 20px 10px;
    position: relative;
}

.back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    background: none;
    border: none;
}
.back-btn:hover {
    color: #8ed8f7;
}

.contact-header h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.contact-header p {
    font-size: 1.2rem;
}

/* Formulario */
.form-container {
    margin: 30px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    width: 90%;
    max-width: 600px;
}

.form-group {
    margin-bottom: 20px;
}

form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

form input, form select, form textarea {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #fcfcfc;
}

form input:focus, form select:focus, form textarea:focus {
    border-color: #2f3092;
    outline: none;
}

.btn-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px 20px;
    background-color: #25d366;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 6px 15px rgba(37, 211, 102, 0.3);
}

.btn-submit i {
    margin-right: 10px;
    font-size: 1.2rem;
}

.btn-submit:hover {
    background-color: #1ebe58;
}

.required {
    color: red;
    font-weight: bold;
}

/* Pie de página */
footer {
    text-align: center;
    padding: 20px;
    background: #2f3092;
    color: #f9f9f9;
    font-size: 0.9rem;
    margin-top: auto;
    font-weight: bold;
    text-decoration: none;
}

footer a {
    color: #8ed8f7;
    font-weight: bold;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
    appearance: textfield; /* Otros navegadores */
}